.logo {
  /* height: 300px;
  width: 300px; */

  /*NOTE: Lets fine tune this */
  position: relative;
  width: 45vw;
  max-width: 450px;
  margin-bottom: 1rem;
  z-index: -1000;

  /* Animations */
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-name: loop;
}
@keyframes loop {
  0% {
    transform: scale(1);
  }
  5% {
    transform: rotateZ(20deg);
  }
  10% {
    transform: scale(1.3);
  }
  /* 15% {
    transform: scale(1.6), rotateZ(10deg);
  } */
  20% {
    transform: scale(1);
  }
}

.logged-out-message {
  color: white;
}

.content-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  width: 60vw;
}

.content-wrapper h1 {
  background-color: transparent;
  /* border-top-left-radius: 5px; */
  /* border-top-right-radius: 5px; */
  color: white;
  font-size: 2rem;
  padding: 0.5rem 1rem;
  text-align: center;
}

.content-wrapper li {
  display: flex;
  font-size: 1.25rem;
  padding-bottom: 1rem;
  align-items: flex-start;
}

.content-wrapper div span {
  flex: 1 0 60%;
  font-size: 0.9rem;
  margin-right: 1rem;
  margin-top: 0.33333rem;
}

.content-wrapper div input[type="checkbox"] {
  display: none;
}

.content-wrapper div input[type="checkbox"] + label:before {
  display: inline-block;
  color: #c2c2c2;
  content: "\f10c";
  cursor: pointer;
  font-family: FontAwesome;
  letter-spacing: 1rem;
  margin-left: 1rem;
}

.content-wrapper div input[type="checkbox"] + label:hover::before {
  color: #4ccbb0;
}

.content-wrapper div input[type="checkbox"]:checked + label:before {
  color: #4ccbb0;
  content: "\f05d";
}

.content-wrapper div button {
  background: rgba(0, 0, 0, 0.1);
  color: white;
  border: 0;
  cursor: pointer;
  font-size: 1.25rem;
  margin-bottom: 0.5rem;
}

.content-wrapper div button:hover {
  background: rgba(0, 0, 0, 0.3);
}

.add-data {
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  padding: 1rem;
  width: 60vw;
}

.add-data form {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.add-data form input[type="text"] {
  background-color: transparent;
  border: 0;
  border-bottom: 1px solid #8f8f8f;
  font-size: 1rem;
  line-height: 1;
  padding: 0.33333rem;
}

.add-data form input[type="text"]:focus {
  border-bottom-color: #a0b871;
}

.add-data form span {
  color: #8f8f8f;
  font-size: 0.9rem;
  line-height: 1;
  text-align: right;
}

.data-admin {
  position: fixed;
  align-items: center;
  font-size: 0.9rem;
  color: #fff;
  justify-content: space-between;
  padding: 1rem;
}

.data-admin div span {
  color: #c2c2c2;
}

.data-admin button {
  background-color: transparent;
  border: 1px solid #a0b871;
  color: #a0b871;
  cursor: pointer;
  font-size: 0.9rem;
  padding: 0.16667rem 0.33333rem;
}

.data-admin button:hover {
  border: 1px solid #4ccbb0;
  color: #4ccbb0;
}
.data-container {
  display: flex;
  margin: 0 auto;
}
.single-item {
  /* display: flex; */
  margin: 0 auto;
  text-align: center;
}
.single-item img {
  max-width: 90vw;
  max-height: 90vw;
}
form.gameName {
  min-width: 50vw;
  text-align: center;
  padding: 1rem;
  border: 2px solid transparent;
  border-radius: 5px;
}
form.gameName:hover {
  border: 2px solid white;
}
form.gameName input {
  min-width: 50vw;
  text-align: center;
  font-style: italic;
  color: rgba(200, 200, 200);
  font-size: 3.5vw;
  animation: 1.5s blink ease infinite;
}
@keyframes blink {
  from,
  to {
    color: rgba(200, 200, 200, 0.3);
  }
  50% {
    color: lightgray;
  }
}
form.gameName input:focus {
  animation: none;
}
.joinform {
  min-width: 50vw;
  text-align: center;
  padding: 1rem;
  border: 2px solid transparent;
  border-radius: 5px;
}
.joinform:hover {
  border: 2px solid white;
}
.nextgif {
  padding: 1rem;
}
.nextgif button:hover {
  cursor: pointer;
  font-weight: 700;
}
.startbutton {
  text-align: center;
}
.startbutton:hover {
  cursor: pointer;
}
