/* To-Do List */
/*-----------------------------------------*/

.data-list {
  align-self: center;
  /* background-color: white; */
  border-radius: 5px;
  width: 60vw;
}

.data-list h1 {
  background-color: transparent;
  /* border-top-left-radius: 5px; */
  /* border-top-right-radius: 5px; */
  color: white;
  font-size: 2rem;
  padding: 0.5rem 1rem;
  text-align: center;
  font-size: 68px;
}

.data-list li {
  border-bottom: 1px solid #dbdbdb;
  display: flex;
  font-size: 1.25rem;
  padding: 1rem;
  align-items: flex-start;
}

.data-list div span {
  flex: 1 0 60%;
  font-size: 0.9rem;
  margin-right: 1rem;
  margin-top: 0.33333rem;
}

.data-list div input[type="checkbox"] {
  display: none;
}

.data-list div input[type="checkbox"] + label:before {
  display: inline-block;
  color: #c2c2c2;
  content: "\f10c";
  cursor: pointer;
  font-family: FontAwesome;
  letter-spacing: 1rem;
  margin-left: 1rem;
}

.data-list div input[type="checkbox"] + label:hover::before {
  color: #4ccbb0;
}

.data-list div input[type="checkbox"]:checked + label:before {
  color: #4ccbb0;
  content: "\f05d";
}

.data-list div button {
  background: transparent;
  border: 0;
  color: #c2c2c2;
  cursor: pointer;
  font-size: 1.25rem;
  padding: 0;
}

.data-list div button:hover {
  color: #fa4f4f;
}

.add-data {
  background-color: #c2c2c2;
  padding: 1rem;
  width: 60vw;
}

.add-data form {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.add-data form input[type="text"] {
  background-color: transparent;
  border: 0;
  border-bottom: 1px solid #8f8f8f;
  font-size: 1rem;
  line-height: 1;
  padding: 0.33333rem;
}

.add-data form input[type="text"]:focus {
  border-bottom-color: #a0b871;
}

.add-data form span {
  color: #8f8f8f;
  font-size: 0.9rem;
  line-height: 1;
  text-align: right;
}

.data-admin {
  position: fixed;
  align-items: center;
  font-size: 0.9rem;
  color: #fff;
  justify-content: space-between;
  padding: 1rem;
}

.data-admin div span {
  color: #c2c2c2;
}

.data-admin button {
  background-color: transparent;
  border: 1px solid #a0b871;
  color: #a0b871;
  cursor: pointer;
  font-size: 0.9rem;
  padding: 0.16667rem 0.33333rem;
}

.data-admin button:hover {
  border: 1px solid #4ccbb0;
  color: #4ccbb0;
}
.data-container {
  display: flex;
  margin: 0 auto;
}
.single-item {
  /* display: flex; */
  margin: 0 auto;
  text-align: center;
}
.single-item img {
  max-width: 90vw;
  max-height: 90vw;
}
